extends ../layouts/html_layout.jade

block title
	title= site_title + " Все о Arduino. Ссылки."

block content
	mixin li_link(lang, url, title_text, text)
		// - lang - [ru, en]
		// - url - ссылка
		// - title_text - текст ссылки
		// - text - текст описания
		li
			<span class= 'flag_#{lang}'></span>
			<a href = #{url}> #{title_text}</a>
			|&nbsp;-&nbsp;#{text}	
	div.row: div.large-12.columns: h1 Все о Arduino. Ссылки
	div.row: div.large-12.columns
		ol
			li Магазины
				ol
					+li_link('ru','http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://landzoelectronic.ru.aliexpress.com/store/428351','LANDZO Electronic Technology Co.,Ltd.','Официальный Arduino и другая электроника.')
					+li_link('ru','http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/store/1389925','Ruiye Electronics.','Arduino наборы и другая электроника.')
					+li_link('ru','http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://robotdyn.ru.aliexpress.com/store/1950989','RobotDyn Official Store','Arduino и другая электроника. Есть рускоязычный сайт https://robotdyn.ru и международный robotdyn.com')
					+li_link('ru','http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/store/1962508','WAVGAT Store','Arduino и другая электроника.')
					+li_link('ru','http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/store/1738188','Robotlinking Store','Arduino и другая электроника.')
					

			li Youtube каналы
				ol
					+li_link('en','https://www.youtube.com/channel/UCvqt-5zndHl97F0RoxExvfQ','TechEasyZone','простые схемы, даже без ардуино')
					+li_link('en','https://www.youtube.com/user/electronicshuborg/videos', 'Electronics Hub','видеоблог от сайта electronicshub.org')
					+li_link('en','https://www.youtube.com/user/arduinoteam', 'arduinoteam', 'официальный канал')
					+li_link('ru','https://www.youtube.com/channel/UCRfNkq8F8rxmDa3sPoEQv1w', 'Iarduino', 'официальный канал сайта и магазина')
					+li_link('ru','https://www.youtube.com/channel/UCRKRGoo367_uweBlZ8PF4Nw', 'Amperka', 'официальный канал сайта и магазина')
					+li_link('ru','https://www.youtube.com/channel/UClBGHIhsEz4Xpa0HqJXvaxw', 'Home Made', 'то, что ты можешь сделать')
					+li_link('ru','https://www.youtube.com/channel/UCZ2a-GXoEFH8W34vq5ob7Kw', 'Arduino Prom', 'проекты на ардуино')
					+li_link('ru','https://www.youtube.com/channel/UC4axiS76D784-ofoTdo5zOA', 'Заметки Ардуинщика', 'второй канал AlexGyver только о ардуино')
			li Youtube плейлисты
				ol
					+li_link('ru','https://www.youtube.com/watch?v=bO_jN0Lpz3Q&list=PLfDmj22jP9S759DT250VVzfZs_4VnJqLa','Уроки по ардуино','Переведено. Автор: Jeremy Blum')
			li Отдельные видео на Youtube
				ol
					+li_link('ru','https://www.youtube.com/watch?v=bO_jN0Lpz3Q&list=PLfDmj22jP9S759DT250VVzfZs_4VnJqLa','Уроки по ардуино','Переведено. Автор: Jeremy Blum')
			+li_link('en','https://www.arduino.cc', 'arduino', 'официальный сайт')
			+li_link('ru','http://arduino.ru', 'arduino', 'русский сайт, есть форум')
			li Статьи на <a href="http://wiki.amperka.ru">wiki.amperka.ru</a>
			li Статьи на <a href="http://wiki.iarduino.ru/">wiki.iarduino.ru</a>
			li База знаний на <a href="http://know.smartelements.ru">smartelements.ru</a>


			li Сайты и блоги
				ol
					+li_link('ru','http://hi-dev.ru/index', ' Hi Dev', ' – сообщество китайской электроники!')
					+li_link('ru','https://voltiq.ru/blog/', 'Вольтик.ру', ' – Блог об Arduino, микроконтроллерах и проектах для мейкеров')
					+li_link('en','https://www.hackster.io/arduino', 'hackster.io', 'проекты на arduino')
					+li_link('en','www.electronicshub.org/arduino-project-ideas/', 'electronicshub', 'Проекты на Arduino')
					+li_link('ru','http://dmitrysnotes.ru/arduino-rpi', 'dmitrysnotes.ru', 'Рубрика: Raspberry Pi & Arduino')
			li
				a(href='http://fritzing.org/home/') Fritzing [ENG]


	div.row: div.large-12.columns: h1 Ссылки на товары на али.
	div.row: div.large-12.columns
		ol
			li Контроллеры Arduino
				ol
					li Arduino UNO
						ol
							li <a href="http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/item/high-quality-One-set-UNO-R3-CH340G-MEGA328P-for-Arduino-UNO-R3-NO-USB-CABLE/32697443734.html">Китайский Fruit Pi Store</a>
							li <a href="http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/store/product/New-and-original-Arduino-UNO-R3-ATMega328P-ATMEGA16U2-with-cable-Official-genuine/2290106_32830092714.html">Оригинальный Fruit Pi Store</a>
					li Arduino Nano V3
							li <a href="http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/store/product/Funduino-Nano-3-0-Atmel-ATmega328-Mini-USB-Board-with-USB-Cable-Free-Shipping-Dropshipping/403088_879642965.html">Китайский - FAR EAST ELECTRONICS</a>
			li Сенсоры
				ol
					li Температурный датчик DS18b20
						ol
							li <a href="http://shopeasy.by/cashback/view/ow4xs2cw8j3jwksyy4twq6hulsy5k66f/?to=https://ru.aliexpress.com/item/Stainless-steel-package-Waterproof-DS18b20-temperature-probe-temperature-sensor-18B20-For-Arduino/32236998050.html">Китайский - Artillery 3C Store</a>