extends ../layouts/html_layout.jade

block title
	title= site_title + " Информационная безопасность"

block content
	mixin images(githab, youtube, habr)
		if habr
			<img src="../images/habrahabr-16x16.png" alt="Иконка habrahabr">
		else if github
			<img src="../images/github.ico" alt="Иконка github" width="16">
		else if youtube
			<img src="../images/youtube.ico" alt="Иконка youtube" width="16">			
	mixin li_link(url, title_text, text)
		li 
			<a href = #{url}> #{title_text}</a>
			|&nbsp;-&nbsp;#{text}
	mixin info_link(url, title_text, text)
		<a href = #{url}> #{title_text}</a> 
		if text
			| - #{text}
	div.row: div.large-12.columns: h1 Информационная безопасность
	div.row: div.large-12.columns
		ol
			li: strong: a(href='ctf.html') Все о соревнованиях CTF.			
			li: strong: a(href='wargame.html') Сайты испытаний (challenge, wargame)
			li
				| Сообщества					
				ol
					+li_link('http://www.securitylab.ru/','SecurityLab.ru','Новости. Блоги. Сообщество.')					
					+li_link('https://defcon.ru/','DefconRU','Сообщество специалистов в области информационной безопасности.')
					+li_link('https://threatpost.ru/','threatpost','Новости информационной безопасности. Лаборатория Касперского.')
					+li_link('https://www.anti-malware.ru/','Anti-Malware.ru','независимый информационно-аналитический центр.')						
					li
						a(href='https://n0where.net/') CyberPunk 
						|  - Open Source CyberSecurity.
					li
						a(href='http://www.darkreading.com/') DarkReading 
						|  - News. Articles.
					li
						a(href='https://security.googleblog.com/') Security Google Blog 				
					li
						a(href='https://raz0r.name/') Raz0r.name  
						|  - блог о web-безопасности на русском.					
			li Обучение
				ol
					li
						a(href='https://www.cybrary.it/') Cybrary 
						| - Online Cyber Security Training, Free, Forever					
					li: a(href='http://mitrecyberacademy.org/learn/') MITRE Cyber Academy
					li: a(href='http://opensecuritytraining.info/Welcome.html') open security training

					li: a(href='https://www.computersecuritystudent.com/') ComputerSecurityStudent	
					li: a(href='http://www.securitytube.net/') SecurityTube	
					li <b>NB! </b>
						a(href='http://www.amanhardikar.com/mindmaps/Practice.html') Сборник ссылок для практики
					li
						a(href='http://www.cis.syr.edu/~wedu/seed/') SEEDlabs 
						| - Hands-on Labs for Security Education						
					li
						+images(0,1,0)
						+info_link('https://www.youtube.com/user/JackkTutorials/videos','JackkTutorials','')
						ol
							li
								+images(0,1,0)
								+info_link('https://www.youtube.com/watch?v=Y3j-rlA0CbE','JackkTutorials','How to DNS Spoof (Kali Linux 2.0)')
							li
								+images(0,1,0)
								+info_link('https://www.youtube.com/watch?v=wdQnM1qdhwE','JackkTutorials','Create your own private VPN!')

					li 
						+images(0,1,0)
						+info_link('https://www.youtube.com/user/Hak5Darren/videos','Hak5','') 
					li
						+images(0,1,0)
						+info_link('https://www.youtube.com/channel/UC286ntgASMskhPIJQebJVvA/videos','Penetration Testing in Linux','')
					li
						+images(0,1,0)
						+info_link('https://www.youtube.com/channel/UCuCF2EVLLTWx_GOmvKg5FnQ','Физтех CTF','Лекции Андрея Коновалова.')
					+li_link('http://yadi.sk/d/64iYID6f0Wy-d','Скачать видео','Подробный разбор самых популярных угроз и методов защиты безопасности веб-приложений (OWASP Top 10)')

					li
						+images(0,1,0)
						+info_link('https://www.youtube.com/user/kalinuxx/videos','Kali Linux Tutorials','')						
			li Web
				ol
					li Injection
					li XSS (Cross-site scripting)
						ol
							+li_link('https://xss-game.appspot.com/','Разбор XSS уязвимостей','В игровой форме(wargame) от Google.')
							li
								+images(0,1,0)
								+info_link('https://www.youtube.com/watch?v=ufYlQTpDmA8','Разбор предыдущего испытания от Google','')
							+li_link('http://excess-xss.com/','excess-xss','Отличный разбор темы XSS')
							+li_link('http://www.xssed.com','xssed','Старый сайт с новостями об уязвимостях XSS')							
														
									
					li
					li
					li											
			li Инструментарий
				ol
					li: a(href='http://www.volatilityfoundation.org/') The Volatility Foundation - Open Source Memory Forensics
			
			li Steganography(Stegano) - Стеганография
				ol
					li Общие вопросы
						ol
							+li_link('https://en.wikipedia.org/wiki/Steganalysis','wiki Стегоанализ','Обзорная статья.')
							+li_link('http://xain.hackerdom.ru/zine/online/issue0/Steganography.html','Статья','Стеганография. Скрытие информации в изображениях')
					li Инструментарий
						ol
							li: a(href='http://exif.regex.info/exif.cgi') Online Jeffrey's Image Metadata Viewer
							li: a(href='http://www.caesum.com/handbook/Stegsolve.jar') 	Stegsolve.jar 1.3
											

			li Reverse - Обратная разработка
				ol
					li Информация. Обучение
						ol
							li: a(href='http://beginners.re/') Бесплатная книга "Reverse Engineering for Beginners" на русском языке.
							li: a(href='http://lurkmore.to/Reverse_Engineering') Статья на lurkmore
							li 
								a(href='https://exelab.ru/') eXeL@B 
								| — Портал исследования программ
							li 
								a(href='http://www.allasm.ru/lang.php') Язык Ассемблера 
								| — Есть уроки по реверсингу
							li 
								a(href='https://microcorruption.com/') Интерактивный курс 
								| — 
							li 
								a(href='https://forum.reverse4you.org') reverse4you 
								| —	Форум на русском языке.
							li 
								a(href='http://forum.exetools.com/') exetools.com 
								| —	Форум на английском языке.	Нужно приглашение.											
								
					li Инструментарий
						ol
							li: a(href='http://www.ollydbg.de/') ollydbg
							li: a(href='https://www.hex-rays.com/products/ida/index.shtml') IDA
							li: a(href='http://www.sweetscape.com/products/') 010 Editor							
																			
			li
				| Криптография
				ol
					li Обучение
						ol
							li: a(href='http://maintracker.org/forum/viewtopic.php?t=3915900') [lektorium.tv] Криптографические протоколы [2009, RUS] :: RuTracker.org
							li: a(href='https://www.coursera.org/learn/crypto') Cryptography I. Stanford University. Dan Boneh, Professor. Coursera
							li: a(href='https://www.coursera.org/learn/crypto2') Cryptography II. Stanford University. Dan Boneh, Professor. Coursera
					li Книги
						ol
							li: a(href='http://nnmclub.to/forum/viewtopic.php?t=1047460') Иван Ефишов | Таинственные страницы. Занимательная криптография (2016) [FB2] :: NNM-Club							
					li Разное
						ol
							li: a(href='http://practicalcryptography.com/') practicalcryptography
							li: a(href='http://www.cs.mtu.edu/~shene/NSF-4/Tutorial/index.html') Cryptography Visualization Tools: A Tutorial			
							li: a(href='http://kriptografea.narod.ru/') Криптография по русски					
							li: a(href='http://cryptoclub.org/') CryptoClub.org
							li: a(href='http://cryptogram.org/') American Cryptogram Association
							li: a(href='http://cryptopals.com/') the cryptopals crypto challenges
			li Награды
				ol
					li В области информационной безопасности
						ol
							li
								a(href='http://cybersecurityawards.com/') Cyber Security Awards
								|  - Cyber Security Awards
							li
								a(href='http://cybersecurity-excellence-awards.com/') Cybersecurity Excellence Awards
								|  - Cybersecurity Excellence Awards
					li За поиск и описание уязвимостей
						ol
							+li_link('https://hackerone.com/','HackerOne','Vulnerability Coordination and Bug Bounty Platform.')
							li <img src="../images/bugcrowd.ico" alt="Иконка bugcrowd"> 
								a(href='https://bugcrowd.com/') Bugcrowd 
								|  - Bug Bounty Solutions & Hackers On-Demand
							+li_link('https://www.synack.com','Synack','Crowd Security Intelligence.')
							+li_link('https://zerodium.com/','zerodium','Программы поощрения не только за веб.')							
							+li_link('https://www.google.com/about/appsecurity/reward-program/index.html','Google','Программа поощрения от google')
							+li_link('https://yandex.ru/bugbounty/','Yandex','Программа поощрения от Yandex')
							+li_link('https://bugbounty.mail.ru/','mail.ru','Программа поощрения от mail.ru')
							+li_link('http://bugsheet.com','BugSheet','Список программ поощрении от разных компаний')
							+li_link('https://www.openbugbounty.org','openbugbounty','Публикуют уязвимости')											
			li Статьи
				ol
					li <img src="../images/habrahabr-16x16.png" alt="Иконка habrahabr"> 
						a(href='https://habrahabr.ru/company/odnoklassniki/blog/307438/')  Об охоте на «насекомых»: программа bug bounty в Одноклассниках
					li <img src="../images/habrahabr-16x16.png" alt="Иконка habrahabr"> 
						a(href='https://habrahabr.ru/post/318748/')  Методы защиты от CSRF-атаки
					li <img src="../images/bugcrowd.ico" alt="Иконка bugcrowd"> 
						a(href='https://forum.bugcrowd.com/t/researcher-resources-how-to-become-a-bug-bounty-hunter/1102')  Как стать профессиональным исследователем уязвимостей
					+li_link('http://www.vestnik.vsu.ru/pdf/analiz/2007/01/2007-01-04.pdf','АЛГОРИТМЫ ВЫЯВЛЕНИЯ СТЕГАНОГРАФИЧЕСКОГО СКРЫТИЯ ИНФОРМАЦИИ В JPEG-ФАЙЛАХ','')

					
			li Разное
				ol
					li
						a(href='http://seclists.org/') seclists
						|  - Архив рассылок по безопасности					
					li: a(href='https://rdot.org/forum/') RDot - форум по безопасности на русском
					li <img src="../images/github.ico" alt="Иконка github" width="16"> <img src="../images/awesome.svg" alt="Иконка awesome"> 
						a(href='https://github.com/sindresorhus/awesome#security') Сборник ссылок
						|  - по безопасности
					li <img src="../images/github.ico" alt="Иконка github" width="16"> <img src="../images/awesome.svg" alt="Иконка awesome"> 
						a(href='https://github.com/onlurking/awesome-infosec') Сборник ссылок
						|  - по безопасности. Много обучающих ресурсов с описанием.						
										
					li: a(href='http://bis-expert.ru/') BISA - ассоциация по вопросам защиты информации


													